<section class="products-show">
  <div class="panel panel-default">
    <header class="panel-heading">
        <h1><%= link_to @product.category.name, @product.category %>
            &raquo;
            <%= @product.name %></h1>
    </header>

    <article class="product-detail">

        <div class="row">

            <div class="col-sm-4">
                <%= image_tag @product.image.url, class: 'main-img' %>
            </div>

            <div class="col-sm-8">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd><%= @product.name %></dd>
                    <dt>Description</dt>
                    <dd><%= @product.description %></dd>
                    <dt>Quantity</dt>
                    <dd><%= @product.quantity %></dd>
                    <dt>Price </dt>
                    <dd>$<%= @product.price %></dd>
                    <dt> </dt>
                    <dd>
                      <% if @product.quantity > 0 %>
                      <%= link_to add_item_cart_path(product_id: @product.id), class: 'btn btn-primary btn-sm', method: :put do %>
                      <%= fa_icon "shopping-cart", text: 'Add' %>
                      <% end %>
                      <% else %>
                      <%= button_tag 'Sold Out!', class: 'btn btn-danger btn-sm disabled' %>
                      <% end %>
                    </dd>
                </dl>
            </div>
        </div>

    </article>
  </div>

    <article class="reviews">
          <% if current_user %>
          <div class="panel panel-default review-panel">


            <div class="form-group panel panel-success">
              <div class="panel-heading review-heading">
                Review
              </div>
              <div class="panel-body">
                <%= form_for ([@product, @product.reviews.build]) do |f| %>
                <%= f.text_area :description, class: "form-control"%><br>
              </div>
              <div class="panel-footer review-footer">
                Rating: <%= f.select :rating, options_for_select([1,2,3,4,5]), {}, { :class => '' } %>
                <%= f.submit "Submit", class: 'btn btn-primary btn-sm'%>
              </div>
                <% end %>
            </div>
          <% else %>
          <div class="well review-well">
            <p >
            Login to leave a review!
            <%= button_to "Login", '/login', class: "btn btn-success btn-sm",method: :get %>
            </p>
          </div>
          <% end %>
        </article>
          <article class="reviews">
                <%= render @product.reviews.reverse %>
        </article>

    </section>
